{
    "swagger": "2.0",
    "info": {
        "title": "CRM",
        "version": "1.0"
    },
    "host": "api-integration.servicetitan.io",
    "basePath": "/crm/v2",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "ST-App-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "servicetitanapplicationkey",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/tenant/{tenant}/booking-provider-tags": {
            "post": {
                "description": "Create a booking provider tag",
                "operationId": "BookingProviderTags_Create",
                "summary": "Create a booking provider tag",
                "tags": [
                    "BookingProviderTags"
                ],
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.CreateBookingProviderTagRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.CreateBookingProviderTagRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.CreateBookingProviderTagResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "tagName": "string",
                                "description": "string",
                                "type": {},
                                "createdOn": "string",
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Gets a list of booking provider tags",
                "operationId": "BookingProviderTags_GetList",
                "summary": "Gets a list of booking provider tags",
                "tags": [
                    "BookingProviderTags"
                ],
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Name of the booking provider tag",
                        "type": "string"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "type": "boolean"
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/PaginatedResponse_Of_Crm.V2.GetBookingProviderTagResponse"
                        },
                        "examples": {
                            "application/json": {
                                "page": 0,
                                "pageSize": 0,
                                "hasMore": true,
                                "totalCount": 0,
                                "data": [
                                    {
                                        "id": 0,
                                        "tagName": "string",
                                        "description": "string",
                                        "type": {},
                                        "createdOn": "string",
                                        "modifiedOn": "string",
                                        "active": true
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/booking-provider-tags/{id}": {
            "get": {
                "description": "Gets a single booking provider tag by ID",
                "operationId": "BookingProviderTags_Get",
                "summary": "Gets a single booking provider tag by ID",
                "tags": [
                    "BookingProviderTags"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.GetBookingProviderTagResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "tagName": "string",
                                "description": "string",
                                "type": {},
                                "createdOn": "string",
                                "modifiedOn": "string",
                                "active": true
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Update a booking provider tag",
                "operationId": "BookingProviderTags_Update",
                "summary": "Update a booking provider tag",
                "tags": [
                    "BookingProviderTags"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.UpdateBookingProviderTagRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.UpdateBookingProviderTagRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.BookingProviderTagResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "tagName": "string",
                                "description": "string",
                                "type": {},
                                "createdOn": "string",
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/bookings/{id}": {
            "get": {
                "description": "Gets a booking by ID",
                "operationId": "Bookings_Get",
                "summary": "Gets a booking by ID",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.BookingResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "source": "string",
                                "createdOn": "string",
                                "name": "string",
                                "address": {
                                    "street": "string",
                                    "unit": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zip": "string",
                                    "country": "string"
                                },
                                "customerType": {},
                                "start": "string",
                                "summary": "string",
                                "campaignId": 0,
                                "businessUnitId": 0,
                                "isFirstTimeClient": true,
                                "uploadedImages": [
                                    "string"
                                ],
                                "isSendConfirmationEmail": true,
                                "status": {},
                                "dismissingReasonId": 0,
                                "jobId": 0,
                                "externalId": "string",
                                "priority": {},
                                "jobTypeId": 0,
                                "bookingProviderId": 0,
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/bookings": {
            "get": {
                "description": "Gets a list of bookings",
                "operationId": "Bookings_GetList",
                "summary": "Gets a list of bookings",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "type": "boolean"
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "Filters by booking's external ID",
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/PaginatedResponse_Of_Crm.V2.BookingResponse"
                        },
                        "examples": {
                            "application/json": {
                                "page": 0,
                                "pageSize": 0,
                                "hasMore": true,
                                "totalCount": 0,
                                "data": [
                                    {
                                        "id": 0,
                                        "source": "string",
                                        "createdOn": "string",
                                        "name": "string",
                                        "address": {
                                            "street": "string",
                                            "unit": "string",
                                            "city": "string",
                                            "state": "string",
                                            "zip": "string",
                                            "country": "string"
                                        },
                                        "customerType": {},
                                        "start": "string",
                                        "summary": "string",
                                        "campaignId": 0,
                                        "businessUnitId": 0,
                                        "isFirstTimeClient": true,
                                        "uploadedImages": [
                                            "string"
                                        ],
                                        "isSendConfirmationEmail": true,
                                        "status": {},
                                        "dismissingReasonId": 0,
                                        "jobId": 0,
                                        "externalId": "string",
                                        "priority": {},
                                        "jobTypeId": 0,
                                        "bookingProviderId": 0,
                                        "modifiedOn": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/bookings/{id}/contacts": {
            "get": {
                "description": "Get a list of contacts for a booking",
                "operationId": "Bookings_GetContactList",
                "summary": "Get a list of contacts for a booking",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "type": "boolean"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/PaginatedResponse_Of_Crm.V2.BookingContactResponse"
                        },
                        "examples": {
                            "application/json": {
                                "page": 0,
                                "pageSize": 0,
                                "hasMore": true,
                                "totalCount": 0,
                                "data": [
                                    {
                                        "id": 0,
                                        "type": {},
                                        "value": "string",
                                        "memo": "string",
                                        "modifiedOn": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/booking-provider/{booking_provider}/bookings/{id}": {
            "get": {
                "description": "Gets a booking by ID for a booking provider",
                "operationId": "Bookings_GetForProvider",
                "summary": "Gets a booking by ID for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.BookingResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "source": "string",
                                "createdOn": "string",
                                "name": "string",
                                "address": {
                                    "street": "string",
                                    "unit": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zip": "string",
                                    "country": "string"
                                },
                                "customerType": {},
                                "start": "string",
                                "summary": "string",
                                "campaignId": 0,
                                "businessUnitId": 0,
                                "isFirstTimeClient": true,
                                "uploadedImages": [
                                    "string"
                                ],
                                "isSendConfirmationEmail": true,
                                "status": {},
                                "dismissingReasonId": 0,
                                "jobId": 0,
                                "externalId": "string",
                                "priority": {},
                                "jobTypeId": 0,
                                "bookingProviderId": 0,
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a booking for a booking provider",
                "operationId": "Bookings_Update",
                "summary": "Updates a booking for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.UpdateBookingRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.UpdateBookingRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.BookingResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "source": "string",
                                "createdOn": "string",
                                "name": "string",
                                "address": {
                                    "street": "string",
                                    "unit": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zip": "string",
                                    "country": "string"
                                },
                                "customerType": {},
                                "start": "string",
                                "summary": "string",
                                "campaignId": 0,
                                "businessUnitId": 0,
                                "isFirstTimeClient": true,
                                "uploadedImages": [
                                    "string"
                                ],
                                "isSendConfirmationEmail": true,
                                "status": {},
                                "dismissingReasonId": 0,
                                "jobId": 0,
                                "externalId": "string",
                                "priority": {},
                                "jobTypeId": 0,
                                "bookingProviderId": 0,
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/booking-provider/{booking_provider}/bookings": {
            "get": {
                "description": "Gets a list of bookings for a booking provider",
                "operationId": "Bookings_GetList2",
                "summary": "Gets a list of bookings for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "Perform lookup by multiple IDs (maximum 50)",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "type": "boolean"
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "externalId",
                        "in": "query",
                        "description": "Filters by booking's external ID",
                        "type": "string"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/PaginatedResponse_Of_Crm.V2.BookingResponse"
                        },
                        "examples": {
                            "application/json": {
                                "page": 0,
                                "pageSize": 0,
                                "hasMore": true,
                                "totalCount": 0,
                                "data": [
                                    {
                                        "id": 0,
                                        "source": "string",
                                        "createdOn": "string",
                                        "name": "string",
                                        "address": {
                                            "street": "string",
                                            "unit": "string",
                                            "city": "string",
                                            "state": "string",
                                            "zip": "string",
                                            "country": "string"
                                        },
                                        "customerType": {},
                                        "start": "string",
                                        "summary": "string",
                                        "campaignId": 0,
                                        "businessUnitId": 0,
                                        "isFirstTimeClient": true,
                                        "uploadedImages": [
                                            "string"
                                        ],
                                        "isSendConfirmationEmail": true,
                                        "status": {},
                                        "dismissingReasonId": 0,
                                        "jobId": 0,
                                        "externalId": "string",
                                        "priority": {},
                                        "jobTypeId": 0,
                                        "bookingProviderId": 0,
                                        "modifiedOn": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a booking for a booking provider",
                "operationId": "Bookings_Create",
                "summary": "Creates a booking for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.CreateBookingRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.CreateBookingRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.BookingResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "source": "string",
                                "createdOn": "string",
                                "name": "string",
                                "address": {
                                    "street": "string",
                                    "unit": "string",
                                    "city": "string",
                                    "state": "string",
                                    "zip": "string",
                                    "country": "string"
                                },
                                "customerType": {},
                                "start": "string",
                                "summary": "string",
                                "campaignId": 0,
                                "businessUnitId": 0,
                                "isFirstTimeClient": true,
                                "uploadedImages": [
                                    "string"
                                ],
                                "isSendConfirmationEmail": true,
                                "status": {},
                                "dismissingReasonId": 0,
                                "jobId": 0,
                                "externalId": "string",
                                "priority": {},
                                "jobTypeId": 0,
                                "bookingProviderId": 0,
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/booking-provider/{booking_provider}/bookings/{id}/contacts": {
            "post": {
                "description": "Creates a contact on the specified booking for a booking provider",
                "operationId": "Bookings_CreateContact",
                "summary": "Creates a contact on the specified booking for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.ContactCreateRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.ContactCreateRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.BookingContactResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": 0,
                                "type": {},
                                "value": "string",
                                "memo": "string",
                                "modifiedOn": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Get a list of contacts for a booking for a booking provider",
                "operationId": "Bookings_GetContactList2",
                "summary": "Get a list of contacts for a booking for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "type": "boolean"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/PaginatedResponse_Of_Crm.V2.BookingContactResponse"
                        },
                        "examples": {
                            "application/json": {
                                "page": 0,
                                "pageSize": 0,
                                "hasMore": true,
                                "totalCount": 0,
                                "data": [
                                    {
                                        "id": 0,
                                        "type": {},
                                        "value": "string",
                                        "memo": "string",
                                        "modifiedOn": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/booking-provider/{booking_provider}/bookings/{id}/contacts/{contactId}": {
            "patch": {
                "description": "Updates a single booking contact for a booking provider",
                "operationId": "Bookings_UpdateBookingContact",
                "summary": "Updates a single booking contact for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.UpdateBookingContactRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.UpdateBookingContactRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.UpdateBookingContactRequest"
                        },
                        "examples": {
                            "application/json": {
                                "type": "Phone",
                                "value": "string",
                                "memo": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Booking or Contact was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Removes a contact from a booking for a booking provider",
                "operationId": "Bookings_DeleteContact",
                "summary": "Removes a contact from a booking for a booking provider",
                "tags": [
                    "Bookings"
                ],
                "parameters": [
                    {
                        "name": "booking_provider",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "The requested entity was not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/tags": {
            "put": {
                "description": "Add multiple tags to more than 1 customer",
                "operationId": "BulkTags_AddTags",
                "summary": "Add multiple tags to more than 1 customer",
                "tags": [
                    "BulkTags"
                ],
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.AddBulkTagsRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.AddBulkTagsRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Remove multiple tags to more than 1 customer",
                "operationId": "BulkTags_RemoveTags",
                "summary": "Remove multiple tags to more than 1 customer",
                "tags": [
                    "BulkTags"
                ],
                "parameters": [
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.RemoveBulkTagsRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.RemoveBulkTagsRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded"
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "409": {
                        "description": "Some conflict occurred while executing the request",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/contacts/{contactId}/contact-methods": {
            "get": {
                "description": "Gets a list of contact methods for a specified contact ID",
                "operationId": "ContactMethods_GetContactMethods",
                "summary": "Gets a list of contact methods for a specified contact ID",
                "tags": [
                    "ContactMethods"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Format - guid.",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "referenceId",
                        "in": "query",
                        "description": "Filters by reference ID",
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filters by contact method type",
                        "type": "string"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "Filters by contact method value",
                        "type": "string"
                    },
                    {
                        "name": "createdBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "createdOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items created on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedBefore",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified before certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "modifiedOnOrAfter",
                        "in": "query",
                        "description": "Format - date-time (as date-time in RFC3339). Return items modified on or after certain date/time (in UTC)",
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Format - int32. The logical number of page to return, starting from 1",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Format - int32. How many records to return (50 by default)",
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeTotal",
                        "in": "query",
                        "description": "Whether total count should be returned",
                        "type": "boolean"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Applies sorting by the specified field:\\\n\"?sort=+FieldName\" for ascending order,\\\n\"?sort=-FieldName\" for descending order.\\\n\\\nAvailable fields are: Id, ModifiedOn, CreatedOn.",
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/PaginatedResponse_Of_Crm.V2.ContactMethodResponse"
                        },
                        "examples": {
                            "application/json": {
                                "page": 0,
                                "pageSize": 0,
                                "hasMore": true,
                                "totalCount": 0,
                                "data": [
                                    {
                                        "id": "string",
                                        "contactId": "string",
                                        "referenceId": "string",
                                        "type": {},
                                        "value": "string",
                                        "memo": "string",
                                        "createdOn": "string",
                                        "createdBy": 0,
                                        "modifiedOn": "string",
                                        "modifiedBy": 0
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Contact not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "post": {
                "description": "Creates a new contact method",
                "operationId": "ContactMethods_CreateContactMethod",
                "summary": "Creates a new contact method",
                "tags": [
                    "ContactMethods"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Format - guid.",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.CreateContactMethodRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.CreateContactMethodRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.ContactMethodResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": "string",
                                "contactId": "string",
                                "referenceId": "string",
                                "type": {},
                                "value": "string",
                                "memo": "string",
                                "createdOn": "string",
                                "createdBy": 0,
                                "modifiedOn": "string",
                                "modifiedBy": 0
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Contact not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            }
        },
        "/tenant/{tenant}/contacts/{contactId}/contact-methods/{contactMethodId}": {
            "get": {
                "description": "Gets a contact method specified by ID",
                "operationId": "ContactMethods_GetContactMethod",
                "summary": "Gets a contact method specified by ID",
                "tags": [
                    "ContactMethods"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Format - guid.",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    },
                    {
                        "name": "contactMethodId",
                        "in": "path",
                        "description": "Format - guid.",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.ContactMethodResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": "string",
                                "contactId": "string",
                                "referenceId": "string",
                                "type": {},
                                "value": "string",
                                "memo": "string",
                                "createdOn": "string",
                                "createdBy": 0,
                                "modifiedOn": "string",
                                "modifiedBy": 0
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Contact/Contact Method not found",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Replaces a contact method",
                "operationId": "ContactMethods_UpsertContactMethod",
                "summary": "Replaces a contact method",
                "tags": [
                    "ContactMethods"
                ],
                "parameters": [
                    {
                        "name": "contactId",
                        "in": "path",
                        "description": "Format - guid.",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    },
                    {
                        "name": "contactMethodId",
                        "in": "path",
                        "description": "Format - guid.",
                        "required": true,
                        "type": "string",
                        "format": "guid"
                    },
                    {
                        "name": "tenant",
                        "in": "path",
                        "description": "Format - int64. Tenant ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "crm.V2.UpsertContactMethodRequest",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.UpsertContactMethodRequest"
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The request has succeeded",
                        "schema": {
                            "$ref": "#/definitions/Crm.V2.ContactMethodResponse"
                        },
                        "examples": {
                            "application/json": {
                                "id": "string",
                                "contactId": "string",
                                "referenceId": "string",
                                "type": {},
                                "value": "string",
                                "memo": "string",
                                "createdOn": "string",
                                "createdBy": 0,
                                "modifiedOn": "string",
                                "modifiedBy": 0
                            }
                        }
                    },
                    "400": {
                        "description": "The request cannot be processed, check validation errors or request format",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "403": {
                        "description": "Provided authentication is insufficient to grant access",
                        "schema": {
                            "$ref": "#/definitions/ApiErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "type": "string",
                                "title": "string",
                                "status": 0,
                                "traceId": "string",
                                "errors": {},
                                "data": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Contact not found",
[...]
